body
{
background-image: url("images/beach.jpg");
background-size: cover;
background-repeat: no-repeat;
}

.navbar-brand{
    margin-top: 20px;
}

.navbar-css{
    margin-top: -45px;
}
.translate{
    margin-top: 8px;
}
.table{
    background-color: whitesmoke;
    border-radius: 4px;
}

.update-link{
    color: black;
}
.delete-link{
    color: black;
}
/*Form styling*/
.data{
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    background-color: whitesmoke;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.data-search{
    margin-top: 30px !important;
}

.text-box{
    border-radius: 4px;
    width: 100%;
    border-width: 1px;
    border-color: lightgray;
    margin-bottom: 20px;
    background-color:whitesmoke;
    border-style: ridge;
    height: 40px;
}
.btn{
    background-color: #EB7F00; 
    border: none;
    color: white;
    margin-top: 20px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 100%;
}

.info{
    background-color: white;
    padding: 20px 20px;
    border-radius: 4px;
    margin-top: 30px;
}
h2{
    font-weight: bold;
}
.container
{
    max-width: 90%;
    background-color: rgb(255, 251, 246);
    text-align: left; 
}

.wrapper
{
    display: grid;
    grid-gap: 10px;
    grid-template-rows: (1fr, 2fr, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: fit-content;
    max-width: 90%;
    background-color: rgb(255, 251, 246);
    text-align: left; 
  
}

.terms
{
    color: rgb(255, 255, 255);

}

.col-md-3-mb-md-0-mb-3
{
    color: white;
}

li
{
    color: white;
}

a
{
    color: white;
}

.faq
{
    color: white;
}

.text-uppetcase
{
    color: white;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    body {
      background-color: grey;
      background-image: none;
      background-size: fill;
    }
    }

    

  

  .page-footer{
     position: relative;
     top: 250px;
  }

  #searchBar{
      border:1px;
      font-size:14px;
      padding:10px;
      width:200px;
   border-top-left-radius:10px;
   border-bottom-left-radius:10px;
  }

  #searchBtn{
      border:1px;
      font-size:14px;
      padding:10px;
      background:#EB7F00;
      cursor :pointer;
  }

  #searchBtn:hover{
      background:darkcyan;
  }

